* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

body > h1 {
    align-self: center;
}

main {
    margin: 0 auto;
    display: flex;
}

.player {
    margin: 0 40px;
    display: flex;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: column;
}

button {
    margin-top: 50px;
    width: 100px;
    height: 50px;
    align-self: center;
}

.cardImg {
    height: 75%;
    width: 75%;
}